/* dinh dang ban dau */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

:root {
  --primary-color: #1ebfc1;
}

body {
  color: #767e7e;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

/* --------------common------------- */

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}


/* --------------header------------- */
.header .body{
    display: flex;
}

.header nav ul{
    display: flex;
    gap: 39px;
    /* margin-left: 497px;
    margin-right: 894px; */
}
